@use "../abstracts/variables";

.courseForm {
    background-color: variables.$Fsection;
    padding: 1em 1.5em 0 1.5em;
    h3 {
        font-family: Gabriela, serif;
        padding: 1em 0;
    }
    label {
        font-family: Raleway, sans-serif;
        align-self: center;
        padding: 1em 2em;
        text-decoration: underline;
    }
    input {
        margin: 0.3em;
        height: 2.5em;        
        align-self: center;
        border: solid 1px black;
        background-color: white;
        padding: 1%;
    }
    input::placeholder{
        font-family: Raleway, sans-serif;
    }
    input:focus {
        outline: solid thin black;
        background-color: #ffffffd9;
    }
    input:focus::placeholder{color: #cbcbcb;}
    button {
        margin: 2em 2em 0 0.5em;
        padding: 0.4em 0;
        place-self: center;
        width: 12em;
        height: 2.5em;
        background-color: variables.$FBtnBackground;
        border: solid thin black;
        border-radius: 8px;
        color: black;
        font-family: Gabriela, serif;
        cursor: pointer;

    }
    button:hover {
        background-color: variables.$FBtnHover;
        color: white;
        transition: 0.3s ease;
    }
}